@import "_variables";

.card-container {
  display: flex;
  margin: 15px;

  .card {
    overflow: hidden;
    position: relative;
    max-width: 400px;
    display: flex;
    flex-direction: column;
    box-shadow: (0 0 40px rgba(0, 0, 0, 0.1));
    cursor: pointer;

    &:hover .card-title {
      text-decoration: none;
      color: $white-color;
    }

    &:hover .vote-container {
      color: $white-color;
    }

    &:hover .vote-container .icon {
      color: $white-color;
    }

    &:hover .overlay-card-bg {
      -webkit-transform: scale(10);
      -ms-transform: scale(10);
      transform: scale(10);
    }

    .overlay-card-bg {
      height: 128px;
      width: 128px;
      z-index: 1;
      position: absolute;
      top: -75px;
      right: -75px;
      border-radius: 50%;
      transition: all 0.5s ease;
    }

    .card-title {
      flex-shrink: 0;
      padding: 30px;
      z-index: 2;
    }

    .card-content {
      display: flex;
      align-items: center;
      justify-content: center;
      flex-grow: 1;
      padding: 30px;

      .content-container {
        width: 140px;
        display: flex;
        align-items: center;
        justify-content: space-between;
      }

      .vote-container {
        width: 50px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        z-index: 2;

        .icon {
          font-size: 30px;
        }
      }
    }
  }
}

@media (max-width: 480px) {
  .card-container {
    .card {
      .card-title {
        padding: 15px;
        text-align: justify;
        font-size: 18px;
      }

      .card-content {
        padding: 10px 15px 30px 15px;
        justify-content: center;
      }
    }
  }
}

@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (-webkit-min-device-pixel-ratio: 1) {
  .card-container {
    .card {
      width: 330px;
      .card-title {
        padding: 15px;
        text-align: justify;
      }

      .card-content {
        padding: 10px 15px 30px 15px;
        justify-content: center;
      }
    }
  }
}

.fa-thumbs-down {
  padding-top: 7px;
}
